
#page-wrap{ 
width:100%; 
margin: 0px auto ;
height:30px;
} 
a{ text-decoration: none; 
}
ul
{ list-style: none; }
p{ 
margin: 0px 0; }
ul { 
padding: 0 0 0 0px;
margin: 0; }

/* 	LEVEL ONE   */

ul.dropdown {
 position: relative; 
 background-color:#2FD7C6;
 }

					ul.dropdown li{ 
					margin:0px 0px;
					font-weight:bold;
					font-size:12px;  
					float: left;
					zoom: 1; 
					border-right:solid 0.5px #FFFFFF;
					height:30px;
					font-family:Arial, Helvetica, sans-serif;
					}

ul.dropdown a:hover	{ 
color: #0000FF; 

}
ul.dropdown a:active{ 
color: #000; 

}
ul.dropdown li a { 
display: block; 
padding: 8px 10px; 
color: #fff; }
ul.dropdown li:last-child a{  
border-right: none; 
} /* Doesn't work in IE */

ul.dropdown li.hover,
ul.dropdown li:hover{
background-color:#F3D575;
color: #FFFFFF; 
position: relative; 
 }
ul.dropdown li.hover a{ 
color: #000;

}


/* 
	LEVEL TWO
*/
ul.dropdown ul{
 width: 350px; 
 visibility: hidden; 
 position: absolute; 
 top: 100%;
  left: 0; 
 padding:0px;  
 z-index:2000;
font-weight: normal; 
color:#FFFFFF;

 }
ul.dropdown ul li { 
float:left;
font-size:12px;
text-align:left; 
font-weight: normal; 
margin:0px 0px;
background-color:#0000FF;
height:25px;
color: #FFFFFF;
border-bottom: 1px solid #ccc; 
border-right:solid 0px #FFFFFF;
float: none; 
color:#FFFFFF;
}		


				
ul.dropdown ul li a	{
 border-right: none; 
 padding: 4px 7px; 
 display: inline-block; 
 color: #FFFFFF;

 } 
ul.dropdown ul li:hover a	{
 border-right: none; 
 padding: 4px 7px; 
 display: inline-block; 
 color: #000000;
 font-style:italic;
 font-size:16px;
border-bottom-color:3px solid #FF0000;
 
 } 
/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					
{ width: 400px;left: 100%; top: 0; color: }
ul.dropdown li:hover > ul { visibility: visible;}

.img{
margin-left:8px;
margin-top:5px;
width:20px;
height:25px;
background-image:url(panahbawah.png);
background-repeat:no-repeat;
float:right;
}
.img1{
margin-left:10px;
margin-top:8px;
width:15px;
height:25px;
background-image:url(panahsamping.png);
background-repeat:no-repeat;
float:right;
}
.img2{
margin-left:76px;
margin-top:8px;
width:15px;
height:25px;
background-image:url(panahsamping.png);
background-repeat:no-repeat;
float:right;
}


.sf-sub-indicator { position: absolute; display: block; right: .75em; top: 1.05em; width: 10px; height:	 10px; text-indent: -999em; 					overflow: hidden; background: url('arrows.png') no-repeat -10px -100px; }